
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cozmo</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h2><center>&ensp;Cozmo Security Guard</center></h2>
    <ul>
      <div class = "square1">
      {% for message in message1 %}
      You: {{message}}
      <br/>
        {% for split1 in message.split(' ')%}
            {% if split1 in sent_pic%}    
                <p align="right">Cozmo: Here is picture </p> <!--function that return picture-->
            {% elif split1 in sent_lo%}
                <p align="right">Cozmo: Here is location </p> <!--function that return location-->    
            {% endif%}     
        {% endfor %}
     {% endfor %}
      </div>
      <hr/>
      <form action="/" method="post">
        <div>
          <center>
                
                <input type="text" name='Msg' placeholder="Message to Cozmo…" autofocus>
                <input type="hidden">
      
          </center>
          </div>

        <div>
            <center><button type="submit"> Send </button></center>
        </div class = "w3-container w3-teal">
      <form>
         <input type="button" value="Go to List" onclick="window.location.href='/list'" />
      </form>   
    </ul>
  </body>
</html>