
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List</title>
    <link type="text/css" rel="stylesheet" href="/static/lists.css" />
  </head>
  <body>
    <h2>Participants</h2>
    <ul>
      <div class='box'>
         <h3>participant</h3>
       </div>  
      <aside></aside> 
       
      {% for pic in listpic  %}
      <p>
          <a href="/upload/{{pic}}"><img src='upload/{{pic}}' height="70" width="70"></a>
          &emsp; {{pic.split('.')[0]}}
      </p>
      {% endfor %}
      </aside> 


      <div class='box'>
      <h1>unknown</h1>
      </div>  
      {% for un in unknown   %}
      <p>
          <a href="/up/{{un}}"><img src='up/{{un}}'  height="70" width="70"></a>
          &emsp; {{un.split('.')[0]}}
      </p>
      {% endfor %}
  

    </ul>
    <form>
      <input type="button" value="back" onclick="window.location.href='/'" />
    </form>  
  </body>
</html>