
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List</title>
    <link type="text/css" rel="stylesheet" href="/static/lists.css" />
  </head>
  <body>
    <h2>Participants</h2>
    <ul>
      <div class='box'>
         ei
       </div>  
      <aside></aside> 
       
      {% for pic in listpic  %}
      <p>
          <a href="/uploads/{{pic}}"><img src='uploads/{{pic}}' alt="Smiley face" height="42" width="42"></a>
          {{pic.split('.')[0]}}
      </p>
      {% endfor %}
      </aside>


    </ul>
    <form>
      <input type="button" value="back" onclick="window.location.href='/'" />
    </form>  
  </body>
</html>