body {
    background-color:rgb(245, 240, 240);
}
h2 {
    color: #E5A01A;
    justify-content: center;
}
fieldset{
    color: white;
}
p {
    color: #E5A01A;
}

.square1 {
    border: solid 1px rgba(130, 125, 125, 0.446);
    margin: 0 auto;
    justify-content: center;
    width: 45%;
    background-color: white;
}